.ps-content-wrapper {
  width: 70vw;
  height: 100%;
  flex-wrap: wrap;
}
.ps-header {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #2d2c32;
  width: 100%;
  text-align: center;
  font-weight: 550;
  font-size: 22px;
  color: white;
  padding-top: 1.8rem;
  z-index: 110;
  margin-top: 4rem;
}
.plan {
  margin: 0px;
  margin-right: 32rem;
}
.ps-content {
  height: 100%;
  width: 100%;
  padding: 0px;
  padding-top: 0px;
  padding-right: 1rem;
}
.top-date {
  padding-left: 2rem;
  font-size: 1.9rem;
  margin-top: 1rem;
  font-weight: 900;
  margin-left: 2rem;
}
.week-holder {
  width: 100%;
}
.week-wrapper {
  height: 100%;
  width: 100%;
  padding-top: 10rem;
}
.plan-day-card-wrapper {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: row;
  align-content: flex-start;
  padding-top: 1rem;
  padding-bottom: 0px;
  margin-bottom: 10rem;
}
.rest-text {
  color: blue;
  float: right;
  width: 100%;
  margin: 0px;
  text-align: right;
  position: relative;
  bottom: 1.46rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.rest-text:hover {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(82, 82, 253);
}
.rest-text:active {
  font-size: smaller;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(82, 82, 253);
}
.calendar-bundle {
  width: 100%;
  display: inline-flex;
  height: 0px;
}
.spacer {
  width: 35rem;
}
.cal {
  z-index: 110;
  //   position: fixed;
  margin-top: 2rem;
}
.paginate {
  height: 3rem;
}
.paginate-wrapper {
  margin-top: 0.5rem;
  margin-left: 3.2rem;
  width: 100%;
}
