.outer-bound {
  min-width: 28vw;
  max-width: 28vw;
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
  margin-bottom: 2rem;
  padding-top: 0px;
}
.day-title-wrapper {
  width: 100%;
  display: inline-block;
  height: 2.9rem;
}
.day-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0px;
  width: 30%;
  margin: 0px;
}
.notes-bar {
  width: 100%;
  height: 2rem;
  border-radius: 0.6rem;
  border: 1px solid blue;
  padding-left: 0.8rem;
  outline: none;
}
.rest-day {
  color: grey;
  font-weight: 900;
  font-size: x-large;
  border-radius: 6px;
  text-align: center;
}
.drag-box {
  // transition: padding-top ease-in 0.15s;
  // transition: background-color ease-in 0.15s;
  text-align: center;
  width: 100%;
  min-height: 5rem;
  border-radius: 8px;
  padding-bottom: 1rem;
}
.drag-box2 {
  // transition: padding-top ease-in 0.15s;
  // transition: background-color ease-in 0.15s;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  min-height: 6vh;
  height: 8vh;
  border-radius: 8px;
  border: 2px dashed grey;
  padding-bottom: 1rem;
}
.drag-box-hover {
  // transition: padding-top ease-in 0.15s;
  margin-bottom: 2rem;
  padding-bottom: 30%;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  min-height: 6rem;
  border-radius: 8px;
  background-color: rgba(67, 67, 253, 0.699);
  color: white;
}
.plus {
  height: 12px;
  width: 12px;
  margin-bottom: 0px;
}
.drag-text {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.plus-hover {
  margin-top: 2%;
  margin-bottom: 1rem;
  filter: invert(100%);
  position: relative;
  top: 1rem;
}
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.notes {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  width: 100%;
  height: 2rem;
  border-radius: 0.6rem;
  padding: 0.3rem;
  padding-top: 0.4rem;
  outline: none;
  background-color: rgba(67, 67, 253, 0.699);
  color: white;
}
.pop-up {
  z-index: 110;
  // position: relative;
  // top: 5rem;
  width: 40vw;
  height: 20vh;
  background-color: rgba(67, 67, 253, 0.699);
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}
.got-it {
  position: relative;
  top: 3rem;
  right: 2.5rem;
  border: none;
}
.got-it:hover {
  background-color: white;
}
.checker {
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  min-height: 8vh;
  max-height: 8h;
  border-radius: 8px;
  border: 2px dashed grey;
  padding-bottom: 1rem;
}
